* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Dubai;
    src: "../fonts/DubaiW23-Regular";
}

body {
    background-color: #F3F3F3;
}

.logo {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo a {
    position: fixed;
}

.logo img {
    margin: 6px 12px 6px 6px;
}

.nav {
    height: 100px;
    background-color: white;
    font-family: Dubai;
    font-weight: bold;
    padding-right: 18%;
    padding-left: 18%;
}

.nav a {
    text-decoration: none;
    color: #232424;
}

#icone-logo {
    width: 38px;
    height: 38px;;
}

.menu {
    float: right;
    margin-top: 35px;
    margin-bottom: 35px;
}

.menu a {
    margin-left: 12px;
}

#cyperus {
    font-size: 32px;
    color: black;
}

.recent-news-menu {
    height: 480px;
    width: 100%;
    display: flex;
}

.recent-news-menu #fundo1{
    height: 480px;
    width: 80%;
    background: linear-gradient(to right, #000 0, #0c0d0e00 240px, rgba(255,255,255,0.4) 290px), url(http://lorempixel.com/output/animals-q-g-500-500-9.jpg) no-repeat;
}

.recent-news-menu #fade{
    background-image: url(../imgs/fundo.jpg);
    background-size: cover;
    position: absolute;
    margin: auto;
    background-position-y: -180px;
    background: linear-gradient(to right, black, #ffffff00 90%), linear-gradient(to left, #000000, transparent 90%);
}

.recent-news-menu #faixadir{
    height: 480px;
    width: 10%;
    background-color: black;
    float: right;
}

.recent-news-menu #faixaesq{
    height: 480px;
    width: 10%;
    background-color: black;
    float: left;
}