* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Dubai;
    src: "../fonts/DubaiW23-Regular";
}

body {
    background-color: #F3F3F3;
    min-width: 1000px;
    height: 4000px;
}

.logo {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo a {
    position: absolute;
}

.logo img {
    margin: 6px 12px 6px 6px;
}

.nav {
    height: 100px;
    background-color: white;
    font-family: Dubai;
    font-weight: bold;
    padding-right: 18%;
    padding-left: 18%;
}

.nav a {
    text-decoration: none;
    color: #232424;
}

#icone-logo {
    width: 38px;
    height: 38px;;
}

.menu {
    float: right;
    margin-top: 35px;
    margin-bottom: 35px;
}

.menu a {
    margin-left: 12px;
}

#cyperus {
    font-size: 32px;
    color: black;
}
.column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    float: right;
    width: 30%;
    height: 309px;
}

  
  /* Middle column */
  .column.middle {
    width: 60%;
    height: 309px;
  }
  .editor-s-pick {
    padding-left: 18%;
    padding-right: 18%;
}

  /* Clear floats after the columns */
  .editor-s-pick:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 480px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }

  .scroll {
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 3%,rgba(255, 255, 255, 0) 50%), linear-gradient(to left, rgba(0, 0, 0, 1) 3%,rgba(255, 255, 255, 0) 50%), url("../imgs/fundo.jpg");
    height: 500px;
    width: 100%;
    padding-left: 250px;
    box-sizing: border-box;
    background-size: cover;
    background-position-y: 30%;  
  }



