.cabeçalho {
    text-decoration: none;
    background-color: aliceblue;
    overflow: hidden;
}

.title {
    font-size: 17px;
}

.back {
    position: relative;
    float: right;
}


.columnA{
    float: left;
    width: 40%;
    padding: 15px;
    text-align: justify;
  }

  .columnB {
    float: right;
    width: 40%;
    padding: 15px;
    padding-top: 30px;
    text-align: justify;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }